# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/

# ======================
# Environment variables
# ======================
.env
**/.env
.env.*
**/.env.*

# ======================
# Data files (raw + processed)
# ======================
data/raw/
data/processed/
*.csv
*.parquet
!data/processed/movies_clean.parquet
# ======================
# Logs
# ======================
*.log

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
